<% layout("/layouts/boilerplate") -%>
<div class="mt-5 offset-3 col-md-6">
    <div class="alert alert-danger" role="alert">
        <h4><%= err.name %>!</h4>
        <h4><%= err.message %>!</h4>
      </div>    
</div>
